body
  :background #c51b09
  :color black
  :text-align center
  :font-family 'Droid Sans Mono', arial, serif

#container
  :width 1000px
  :margin-left auto
  :margin-right auto
  :text-align left

  #header
    :color white
    :font-size 100px
    :margin 0
    :padding 0
  
  #content
    :background white
    :margin 20px
    :padding 0 20px 20px 20px
    :-moz-border-radius 45px 10px / 20px 45px
    :border-radius 45px 20px / 20px 45px
    
    h1
      :font-size 55px
      :margin-bottom 0px
      
    h2
      :margin 20px 0 0 0
      
    ul
      :margin 0
      li.dead
        :text-decoration line-through
  
  #footer
    :text-align center
    :color white
    :font-size 14px