body {
  background: #c51b09;
  color: black;
  text-align: center;
  font-family: arial, serif; }

a, a:visited, a:active {
  color: black; }
  a:hover, a:visited:hover, a:active:hover {
    text-decoration: none; }

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
  #container #header {
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    font-family: "Droid Sans Mono", arial, serif; }
  #container #content {
    background: white;
    margin: 20px;
    padding: 0 20px 20px 20px;
    -moz-border-radius: 45px 10px/20px 45px;
    border-radius: 45px 20px/20px 45px;
    overflow: hidden; }
    #container #content h1 {
      font-size: 55px;
      margin: 20px 0 0 0;
      font-family: "Droid Sans Mono", arial, serif; }
    #container #content h2 {
      margin: 20px 0 0 0;
      font-family: "Droid Sans Mono", arial, serif; }
    #container #content ul {
      margin: 0;
      list-style: none; }
      #container #content ul li.dead {
        text-decoration: line-through; }
    #container #content .player {
      margin: 20px 0; }
    #container #content .hidden {
      display: none; }
    #container #content .top {
      margin-top: 10px; }
    #container #content .left {
      width: 700px;
      float: left; }
    #container #content .right {
      width: 100px;
      float: right;
      text-align: right; }
      #container #content .right p {
        margin: 0; }
  #container #footer {
    text-align: center;
    color: white;
    font-size: 14px; }
    #container #footer a, #container #footer a:hover, #container #footer a:visited, #container #footer a:active {
      color: white; }
